footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: large;
    background-color: olive;

}

nav {
    padding: 16px;
    border-bottom: 1px solid black;
    background-color: rgb(255, 105, 50);
}

main {
    padding: 16px;
    margin-bottom: 250px;
}

body {
    margin: 0px;
    padding: 0px;

}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 100px;


}


a {

    color: green;
    text-decoration: none;

}

h1 {
    color: tan;
}

tr:nth-child(even) {
    background-color: lightgray;
}
